<!DOCTYPE html>
<head>
</head>
<html>
<h2>Hello, This is KARPAGASELVI, as ur helping assistant</h2>
</html>
<script>
window.watsonAssistantChatOptions = {
integrationID: " A21b67bed-f61b-44d3-bede-c9b7e38f5e80", // The ID of this
integration.
region: " us-south.", // The region your integration is hosted in.
serviceInstanceID: "8ea401f1-92f1-4b3e-b263-6839594d3e16", // The ID of your service
instance.
onLoad: function(instance) { instance.render(); }
};
setTimeout(function(){
const t=document.createElement('script');
t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"; document.head.appendChild(t); }); </script>
Web URL:
<html>
<body>
<a href=” https://us-south.assistant.watson.cloud.ibm.com/crn%3Av1%3Abluemix%3Apublic%3Aconversation%3Aus-south%3Aa%2Fed866190928842e7b0017c4dbadcef4b%3A21b67bed-f61b-44d3-bede-c9b7e38f5e80%3A%3A/assistants/8ea401f1-92f1-4b3e-b263-6839594d3e16/actions/actions/custom/edit/action_32555#step_798”> Chat bot</a>
</body></html>